Repository Hashbuzz-Social/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

feat(hooks): add online status hook for connectivity detection and management
  .husky/pre-commit
  .lintstagedrc
  src/hooks/use-online-status.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

refactor(campaignlist): Modules are seprated in seprated files
  src/API/campaign.ts
  src/Ver2Designs/Pages/CreateCampaign/CreateCampaign.tsx
  src/Ver2Designs/Pages/Dashboard/CampaignList/campaignListCoulmns.tsx
  src/Ver2Designs/Pages/Dashboard/CampaignList/components/RenderAmountClaimed.tsx
  src/Ver2Designs/Pages/Dashboard/CampaignList/components/RenderAmountSpent.tsx
  src/Ver2Designs/Pages/Dashboard/CampaignList/components/RenderBudget.tsx
  src/Ver2Designs/Pages/Dashboard/CampaignList/components/RenderSymbol.tsx
  src/Ver2Designs/Pages/Dashboard/CampaignList/components/inex.ts
  src/Ver2Designs/Pages/Dashboard/CampaignList/index.tsx
  src/types/campaign.ts
  src/types/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

fix(CamapignList): Admin api for chnage status
  src/Ver2Designs/Pages/Dashboard/CampaignList/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

refactor(store): and enhance code structure across multiple files
  .husky/pre-commit
  src/APIConfig/AuthGuard.tsx
  src/Store/appStatusSlice.ts
  src/Store/miscellaneousStoreSlice.ts
  src/Store/store.ts
  src/Ver2Designs/Admin/api/admin.ts
  src/Ver2Designs/Pages/AuthAndOnboard/AuthAndOnBoardLayout/StepsMobileHeader.tsx
  src/Ver2Designs/Pages/AuthAndOnboard/Components/OnBoardingSteps/OnBoardingSteps.tsx
  src/Ver2Designs/Pages/AuthAndOnboard/authStoreSlice.ts
  src/Ver2Designs/Pages/Dashboard/CampaignList/index.tsx
  src/hooks/session-manager/useSessionValidator.ts
  src/hooks/use-appSession-manager.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

feat(environment): add multi-environment configuration support with scripts for local and remote development
  ENVIRONMENT_SETUP.md
  README.md
  package.json
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(build): add low-memory build script and optimize Vite configuration for memory usage
  package.json
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(build): switch minification from terser to esbuild for improved performance
  vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: remove unused components and consolidate code structure
  src/APIConfig/AxiosProvider.tsx
  src/Store/StoreProvider.tsx
  src/Store/useAuth.ts
  src/Store/useUser.ts
  src/Ver2Designs/Admin/AdminAuthGuard.tsx
  src/Ver2Designs/Admin/AdminDashboard/AdminDashboard.tsx
  src/Ver2Designs/Admin/AdminDashboard/index.ts
  src/Ver2Designs/Pages/Dashboard/AdminPasswordSetup.tsx
  src/Ver2Designs/Pages/Dashboard/CampaignList/components/RenderSymbol.tsx
  src/Ver2Designs/Pages/Dashboard/ConsentModal.tsx
  src/components/Pages/CreateCard/CreateTwitterPage.jsx
  src/components/Pages/TemplatePage/TemplatePage.jsx
  src/components/PreviewModal/PreviewModal.jsx
  src/components/PreviewModal/TopUpModal.jsx
  src/components/Tables/TemplateTable.jsx
  src/index.tsx
  src/screens/CreateTwitterCard.jsx
  src/screens/Template.jsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

refactor: remove deprecated components and clean up code structure
  src/Store/StoreProvider-ex.tsx
  src/Ver2Designs/Admin/AdminAuth.tsx
  src/Ver2Designs/Admin/AdminDashboard/AddNewTokenModal.tsx
  src/Ver2Designs/Admin/index.ts
  src/Ver2Designs/Pages/Dashboard/DashboardAdmin/AdminView/AdminTrailSettersView.tsx
  src/components/Pages/TemplatePage/ChatgptModal/ChatgptModal.js
  src/components/Pages/TemplatePage/ChatgptModal/ChatgptModal.styles.js
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

refactor: remove Axios-related components and simplify index structure
  src/APIConfig/APIServices.js
  src/APIConfig/AxiosProvider.tsx
  src/APIConfig/api.ts
  src/APIConfig/dAppApiServices.ts
  src/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

refactor: remove unused CSS file and clean up index.tsx imports
  ENVIRONMENT_SETUP.md
  src/index.css
  src/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

refactor: improve error handling and toast message in TopupModal
  src/Ver2Designs/Pages/Dashboard/TopupModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

Add logo image and update manifest and robots.txt
  src/Ver2Designs/Pages/CreateCampaign/CreateCampaign.tsx
  src/Ver2Designs/Pages/CreateCampaign/components/PreviewModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

fix: add missing useNavigate import in PreviewModal component
  src/Ver2Designs/Pages/CreateCampaign/components/PreviewModal.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

fix: update build command for cloud deployment with increased memory limits
  package.json
Due: prettier --write

Update Dockerfile to use Node.js 22, remove version from compose-dev.yaml, and add comprehensive docker-setup.sh script
  DOCKER_QUICK_START.md
  Dockerfile
  compose-dev.yaml
  docker-setup.sh
Due: prettier --write

Update script and stylesheet references in index.html for build optimization
  .gitignore
  Dockerfile
  build/assets/css/index-CBE7DAfN.css
  build/assets/js/index-BwV3mxnc.js
  build/assets/js/index-CKlh6yIp.js
  build/assets/js/secp256k1-D1kxfNt7.js
  build/assets/js/utils-Cn-bo_Wx.js
  build/index.html
Due: eslint --fix --max-warnings 0, prettier --write

feat: Optimize Dockerfile for multi-stage build and add AWS Secrets Manager integration
  .dockerignore
  .env.example
  .gitignore
  DEPLOYMENT_GUIDE.md
  Dockerfile
  README.md
  compose-dev.yaml
  nginx.conf
  package.json
  scripts/fetch-secrets.sh
  scripts/setup-aws-secrets.sh
  scripts/setup-docker-env.sh
  scripts/setup-env.sh
  scripts/start.sh
  secrets.template.json
  src/index.css
  src/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

Refactor Docker setup for development environment and simplify scripts
  Dockerfile
  compose-dev.yaml
  nginx.conf
  scripts/setup-docker-env-simple.sh
  scripts/setup-docker-env.sh
  scripts/start.sh
Due: prettier --write

Refactor AssociateTokens component and add TokenListItem for better token management
  src/API/mirrorNodeAPI.ts
  src/Ver2Designs/Pages/AuthAndOnboard/AssociateTokens/AssociateTokens.tsx
  src/Ver2Designs/Pages/AuthAndOnboard/AssociateTokens/components/TokenListItem.tsx
  src/Ver2Designs/Pages/AuthAndOnboard/AssociateTokens/components/index.ts
  src/Ver2Designs/Pages/AuthAndOnboard/AssociateTokens/components/styles.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

feat(footer): add Twitter link and remove cookies link
  package-lock.json
  src/Ver2Designs/Pages/Landing/LandingV3/Footer/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

feat(dashboard): restructure card utility and render per figma
  package.json
  public/images/speaker.png
  src/IconsPng/images.ts
  src/Ver2Designs/Layout/MainLayout.tsx
  src/Ver2Designs/Pages/AuthAndOnboard/PairWalletAndAuthenticate/BrowserExtension/BrowserExtension.tsx
  src/Ver2Designs/Pages/Dashboard/CardGenUtility.tsx
  src/Ver2Designs/Pages/Dashboard/DashboardUser.tsx
  src/Ver2Designs/Pages/Landing/LandingV3/Header/index.tsx
  src/components/Spinners/Spinner.tsx
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

style(Engagers Dashboard design): follow figma design for dashboard and leadershipboard
  src/Ver2Designs/Components/Header.tsx
  src/Ver2Designs/Components/HeaderMenu/HeaderMenu.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

docs: add Git workflow guide for branching and resolving merge conflicts
  DEVELOPER_ONBOARDING.md
  docs/GIT_WORKFLOW.md
Due: prettier --write

style(Dashboard-committed-Requests): move inline styles to custom style file and add request images
  .husky/pre-commit
  public/images/speaker.png
  src/IconsPng/image.ts
  src/Ver2Designs/Components/Header.tsx
  src/Ver2Designs/Components/HeaderMenu/HeaderMenu.tsx
  src/Ver2Designs/Components/styled.ts
  src/Ver2Designs/Layout/MainLayout.tsx
  src/Ver2Designs/Pages/Dashboard/Balances.tsx
  src/Ver2Designs/Pages/Dashboard/CardGenUtility.tsx
  src/Ver2Designs/Pages/Dashboard/DashboardAdmin/index.tsx
  src/Ver2Designs/Pages/Dashboard/DashboardUser.tsx
  src/Ver2Designs/Pages/Dashboard/styled.ts
  src/components/Card/Card.styles.js
  src/components/Card/Card.styles.ts
  src/components/Spinners/Spinner.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

feat(commit-msg): enhance pre-commit checks with TypeScript and ESLint integration
  .husky/commit-msg
Due: none

refactor(pre-commit): streamline checks and enable non-blocking ESLint
  .husky/pre-commit
Due: none

chore(revert): Chnages in config is not acceptable
  .husky/commit-msg
Due: none

style(Dashboard-committed-Requests): move inline styles to custom style file and add request images
  .husky/pre-commit
  public/images/speaker.png
  src/IconsPng/image.ts
  src/Ver2Designs/Components/Header.tsx
  src/Ver2Designs/Components/HeaderMenu/HeaderMenu.tsx
  src/Ver2Designs/Components/styled.ts
  src/Ver2Designs/Layout/MainLayout.tsx
  src/Ver2Designs/Pages/Dashboard/Balances.tsx
  src/Ver2Designs/Pages/Dashboard/CardGenUtility.tsx
  src/Ver2Designs/Pages/Dashboard/DashboardAdmin/index.tsx
  src/Ver2Designs/Pages/Dashboard/DashboardUser.tsx
  src/Ver2Designs/Pages/Dashboard/styled.ts
  src/components/Card/Card.styles.ts
  src/components/Spinners/Spinner.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

style(Dashboard-committed-Requests): updated styled import
  src/Ver2Designs/Components/styled.ts
  src/Ver2Designs/Pages/Dashboard/styled.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

style(Dashboard-committed-Requests): updated and resolved conflicts
  src/Ver2Designs/Pages/Dashboard/CardGenUtility.tsx
  src/Ver2Designs/Pages/Dashboard/DashboardAdmin/index.tsx
  src/components/Card/Card.styles.js
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

Update FOOTER index.tsx
  src/Ver2Designs/Pages/Landing/LandingV3/Footer/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

feat(config): add local feature flag override support for fast dev, fallback to Firebase Remote Config
  src/components/FeatureFlaggedChat.tsx
  src/featureFlags.local.json
  src/firebaseConfig.ts
  src/hooks/useRemoteConfig.ts
  src/index.tsx
  src/remoteConfig.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

feat: Add V201 campaign creation instructions component
  .env.example
  src/API/campaign.ts
  src/Router.tsx
  src/Ver2Designs/Pages/CampaignCreatorWrapper.tsx
  src/Ver2Designs/Pages/CreateCampaignV201/CreateCampaignV201.tsx
  src/Ver2Designs/Pages/CreateCampaignV201/components/V201Instructions.tsx
  src/Ver2Designs/Pages/CreateCampaignV201/index.ts
  src/Ver2Designs/Pages/index.ts
  src/components/FeatureFlagTest.tsx
  src/featureFlags.local.json
  src/hooks/index.ts
  src/hooks/useBudgetValidation.ts
  src/hooks/useRemoteConfig.ts
  src/hooks/useV201Campaign.ts
  src/remoteConfig.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit --skipLibCheck'

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,md,yaml,yml})
  bash -c 'tsc --noEmit --skipLibCheck': any of: src/**/*.{ts,tsx}
